<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<style>
      .active{
        color: red;
      }

      .deactive{
        color: gainsboro;
      }
</style>
<script th:inline="javascript">
    const rootMenu = /*[[${parentMenu}]]*/{};

    console.log(rootMenu);
</script>
<body>
    <ul>
      <li>
        <span th:text="${parentMenu.getName()}" ></span>
        <ul>
          <li th:each="subMenu: ${parentMenu.getMenus()}">
            <label>
              <span th:class="${subMenu.isActive ? 'active' : 'deactive'}" th:text="${subMenu.getName()}"></span>
              <input type="checkbox" th:checked="${subMenu.getIsActive()}">
            </label>
          </li>
        </ul>
      </li>
    </ul>
</body>
</html>
